.countryList {
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  padding: 0 30px;
  list-style: none;
}

.country {
  width: 200px;
  height: 230px;
  border: 1px solid #d3d5fd;
  box-shadow: 0px 0px 7px #d7d388;
  background: #e2e4ff53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  align-self: center;
}

.info {
  flex-shrink: 0;
}

p {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1rem;
  overflow-wrap: break-word;
}

.flag {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}
span {
  font-size: 0.75rem;
}

button {
  padding: 5px 8px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 0.75rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px #d7d388;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.favoriteBtn {
  appearance: none;
  content: url(/heart-empty.png);
  filter: invert(1);
  width: 20px;
  border: none;
}

.favoriteIcon {
  appearance: none;
  /* content: url(/heart-empty.png); */
  filter: invert(1);
  width: 30px;
  border: none;
}

.favoriteLbl {
  margin-top: 5px;
  display: flex;
  flex-shrink: 0;
  border: none;
}

.favoriteBtn:checked {
  content: url(/heart-filled.png);
  filter: invert(0);
  width: 20px;
}

.flagModal {
  width: 180px;
  margin-bottom: 10px;
}

.modalContent {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .country {
    width: 180px;
    height: 220px;
    padding: 0.75rem;
    justify-self: center;
  }
  h2 {
    font-size: 1rem;
  }

  p {
    margin-top: 0.25rem;
  }

  .flag {
    width: 80px;
    height: 60px;
    object-fit: contain;
  }
}

@media screen and (max-width: 550px) {
  .country {
    width: 340px;
    height: 100px;
    padding: 0.75rem;
    flex-direction: row;
    text-align: left;
  }

  .flag {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .countryList {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 0.75rem;
  }

  .favoriteBtn {
    transform: translate(0, -30px);
  }
}
