.countryList {
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  padding: 0 30px;
  list-style: none;
}

.country {
  width: 200px;
  height: 280px;
  border: 1px solid #d3d5fd;
  box-shadow: 0px 0px 10px #d7d388;
  background: #e2e4ff53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  text-align: left;
}

.info {
  flex-shrink: 0;
}

p {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.5rem;
}

.countryName {
  font-size: 1.25rem;
  font-weight: bolder;
}

.flag {
  width: 100px;
  height: 80px;

  object-fit: contain;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

button {
  padding: 8px 14px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px #d7d388;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.favoriteBtn {
  appearance: none;
  content: url(public/heart-empty.png);
  filter: invert(1);
  width: 20px;
  border: none;
}

.favoriteIcon {
  appearance: none;
  /* content: url(public/heart-empty.png); */
  filter: invert(1);
  width: 30px;
  border: none;
}

.favoriteLbl {
  margin-top: 5px;
  display: flex;
  flex-shrink: 0;
  border: none;
}

.favoriteBtn:checked {
  content: url(public/heart-filled.png);
  filter: invert(0);
  width: 20px;

}

