.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.region {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.region:hover {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px #d7d388;
}

.region:active,
.region:focus {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px #d7d388;
}
.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px 40px;
}

.logo {
  filter: saturate(0);
  filter: brightness(100);
}

.header-top form {
  display: flex;
  gap: 20px;
}

.header-top input {
  height: 40px;
  width: 500px;
  font-size: 1rem;
  color: white;
  padding: 0px 20px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
}

.header-top input::placeholder {
  color: white;
}

.header-top input:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px #d7d388;
}

.header-top input:focus {
  outline: none;
  border-color: white;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px #d7d388;
}

.favorite-btn {
  min-width: 160px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 100px;
  color: white;
  background: transparent;
  border: 2px solid white;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px #d7d388;
}

.favorite-btn:active,
.favorite-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px #d7d388;
}
