.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.region {
  margin: 10px 0;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.region:hover {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px #d7d388;
}

.region:active,
.region:focus {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px #d7d388;
}
.navbar {
  width: 100%;
  padding: 0px 40px 10px 40px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0px 40px;
}

.header-top form {
  display: flex;
  gap: 20px;
}

.header-top input {
  height: 30px;
  width: 500px;
  font-size: 0.75rem;
  color: white;
  padding: 0px 20px;
  margin-left: 80px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
}

.header-top input::placeholder {
  color: white;
}

.header-top input:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px #d7d388;
}

.header-top input:focus {
  outline: none;
  border-color: white;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px #d7d388;
}

.favorite-btn {
  min-width: 110px;
  height: 30px;
  padding: 5px;
  font-size: 0.75rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  background: transparent;
  border: 2px solid white;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px #d7d388;
}

.favorite-btn:active,
.favorite-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px #d7d388;
}

@media screen and (max-width: 850px) {
  .header-top input {
    width: 300px;
    font-size: 0.75rem;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 0;
  }

  .favorite-btn {
    min-width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 0.9rem;
    content: url("/heart-filled.png");
    object-fit: contain;
  }
}

@media screen and (max-width: 550px) {
  .header-top input {
    width: 200px;
    margin: 0;
  }
  .region {
    font-size: 0.75rem;
    margin: 0;
  }
  .navbar {
    padding: 0px 0px 20px 0px;
  }
  .header-top {
    padding: 10px 0px;
  }
}
